<!-- <div class="card">
    <p-dataView #dv [value]="products" [paginator]="false" [rows]="9" filterBy="productName"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">

        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <div class="product-name">{{product.productName}}</div>
                        </div>
                        <span [class]="'product-badge status-' + product?.inventoryStatus?.toLowerCase()">{{product?.inventoryStatus}}</span>
                    </div>
                    <div class="product-grid-item-content">
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.productPrice}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="product?.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div> -->


<div class="card">
    <p-dataView #dv [value]="products" [paginator]="false" [rows]="9" filterBy="name" layout="grid">
       
        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.productName}}</span>
                            
                        </div>
                        <span>{{product.inventory <= 1 ? 'Out of Stock':''}}</span>
                        <!-- <span [class]="'product-badge status-' + product.?inventoryStatus?.toLowerCase()">{{product.inventoryStatus}}</span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="'assets/images/product-images/' + product.productName+ '.jpeg'" [alt]="product.productNname" height="150px" width="150px"/>
                        <!-- <div class="product-name">{{product.name}}</div> -->
                        <!-- <div class="product-description">{{product.description}}</div> -->
                        <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">{{product.productPrice | currency}}</span>
                        
                        <p-button [disabled]="true"> <span> {{product.productCode}}</span></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="row"> 
                <div class="col col-sm-3"></div>
                <div class="col col-sm-6">
                <label for="">Product Code:</label>
                <input type="text" class="form-control" id="productCode"  placeholder="Please Enter Product Code" [ngModel] = "productCode" (input)="OnSearchProduct($event.target.value); productCode = $event.target.value.toUpperCase()">
                </div>
                <div class="col col-sm-3"></div>
                

            </div>
            <div class="row mt-2"> 
                <div class="col col-sm-3"></div>
                <div class="col col-sm-6">
                    <label for="">Product Price:</label>
                <input type="currency" class="form-control" id="productPrice" placeholder="Product Price" [disabled]="true" [ngModel]="productPrice | number :'1.2-2' | currency">
                </div>
                <div class="col col-sm-3"></div>
            </div>

            <div class="row mt-2"> 
                <div class="col col-sm-3"></div>
                <div class="col col-sm-6">
                    <label for="">Coupon Code:</label>
                <input type="text" class="form-control" id="couponCode" placeholder="Please enter coupon code" [disabled]="!productCode" [(ngModel)]="couponCode">
                </div>
                <div class="col col-sm-3"> 
                    <label for=""></label>
                    <div class="row mt-1"></div>
                    <div class="row">
                        <button pButton class="p-button-success" type="button" label="Verify Coupon" [hidden]="!(productCode && couponCode)" (click)="ApplyCouponCode()"></button>
                    </div>
                    </div>
            </div>

            <div class="row mt-2" *ngIf="isCouponCodeValid && couponCode"> 
                <div class="col col-sm-3"></div>
                <div class="col col-sm-6">
                    <label for="">Product Price after Coupon code:</label>
                    <input type="currency" class="form-control" id="productPriceAfterCoupon"  [disabled]="true" [ngModel]="0 | number :'1.2-2' | currency">
                </div>
                <div class="col col-sm-3"> 
                </div>
            </div>

            <div class="row mt-2"> 
                <div class="col col-sm-3"></div>
                <div class="col col-sm-6">
                    <button pButton type="button" label="Get Soda" [disabled]="!(productPrice && productCode)" (click)="DispenseProduct()"></button>    
                </div>
                <div class="col col-sm-3"></div>
            </div>

        </ng-template>
    </p-dataView>
    